* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    max-width: 1280px;
    margin: auto;
    font-family: Arial;
    --header-bg-color: rgb(246, 245, 247);
    --btn-create-color: black;
    --btn-edit-color: rgb(85, 176, 250);
    --btn-delete-color: rgb(227, 75, 109);
    --in-search-color: rgb(114, 113, 114);
    --body-bg-color: white;
}

.header {
    display: flex;  
    align-items: center;
    justify-content: space-between;
    background-color: var(--header-bg-color); 
    min-height: 50px;
}

.header-buttons {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    min-width: 160px;
}

.header-buttons a {
    text-decoration: none;
    color: var(--btn-create-color);
    font-size: 0.9rem;
}

.my-caps-button {
    font-weight: bold;
}

.search-buttons {
    padding-right: 20px;
}

.blue-button {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 20px;
    border-radius: 5px;
    background: var(--body-bg-color);
    color: var(--btn-edit-color);
    border: 1px solid var(--btn-edit-color);
}

.red-button {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 20px;
    border-radius: 5px;
    background: var(--body-bg-color);
    color: var(--btn-delete-color);
    border: 1px solid var(--btn-delete-color);
}

.search {
    min-height: 25px;
    border-radius: 5px;
    border: 1px solid var(--btn-create-color);
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100%;
}

.side-bar p:last-child {
    font-size: .8rem;
    font-weight: bold;
}

.manage-cups {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 10rem;
    align-items: center;
}

.manage-cups h2 {
    padding-top: 10px;
    font-size: 1rem;
}

.manage-cups p:nth-child(3) {
    font-size: 1.1rem;
    font-weight: bold;
}

.total-count {
    display: none;
}

.sort-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 41px;
    height: 24px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--in-search-color);
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: var(--body-bg-color);
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: var(--btn-edit-color);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px var(--btn-edit-color);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}
  
.slider.round {
    border-radius: 25px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.count-button {
    padding-left: 30px;
    padding-right: 30px;
}

.create-cup-header {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 18rem;
    padding-top: 20px;
}

.header-close-btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--header-bg-color);
}

.header-close-btn span {
    font-size: 0.7rem;
    font-weight: bold;
    cursor: default;
}

.header-close-btn h2 {
    font-size: 1.2rem;
}

.create-cup-header label {
    font-size: 0.9rem;
    align-self: flex-start;
}

.create-cup-header input {
    height: 1.5rem;
    border: 1px solid var(--in-search-color);
    border-radius: 5px;
}

.create-cup-header select {
    height: 1.5rem;
    align-self: flex-start;
    width: 100%;
    border: 1px solid var(--in-search-color);
    border-radius: 5px;
}

.edit-cup-header {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 18rem;
    padding-top: 20px;
}

.edit-close-btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--header-bg-color);
}

.edit-close-btn span {
    font-size: 0.7rem;
    font-weight: bold;
    cursor: default;
}

.edit-close-btn h2 {
    font-size: 1.2rem;
}

.edit-cup-header label {
    font-size: 0.9rem;
    align-self: flex-start;
}

.edit-cup-header input {
    height: 1.5rem;
    border: 1px solid var(--in-search-color);
    border-radius: 5px;
}

.edit-cup-header select {
    height: 1.5rem;
    align-self: flex-start;
    width: 100%;
    border: 1px solid var(--in-search-color);
    border-radius: 5px;
}


.cup-carts {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(300px, auto);
    grid-gap: 10px;
}

.cup-cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--in-search-color);
} 

.cup-cart h2 {
    font-size: 0.8rem;
    align-self: start;
    padding-left: 20px;
}

.cup-cart p {
    font-size: .8rem;
    align-self: start;
    padding-left: 20px;
}

.edit-buttons {
    padding-left: 20px;
    padding-bottom: 20px;
}

.background-img {
    width: 150px;
    height: 150px;
    content: url(../img/coffee-cup.png);
    background-size: cover;
}

.visible {
    display: flex;
}

.visible-count {
    display: block;
    font-size: 0.8rem;
    font-weight: bold;
}
